@import url("~leaflet/dist/leaflet.css");


/* ADMIN LAYOUT */
.adminPage{
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #035c8f;
}
.contentPageAdmin{
    width: 100%;
    height: 100vh;
}

.outlet-page{
    padding: 10px;
}


/* -------------------------------------------------------------------------- */
                /* NAVBAR */
/* -------------------------------------------------------------------------- */
         .contentPageAdmin .navbar_admin{
            background-color: var(--background-color-1);
            padding: 10px;
        }
            .navbar_admin .navbar-education{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                color: #fff;
            }
                .navbar-education .icon-navbar{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px;
                }
                    .navbar-education .icon-navbar .icon{
                        margin-right: 10px;
                        cursor: pointer;
                    }
                        .navbar-education .icon-navbar .pointAlert{
                            height: 8px;
                            width: 8px;
                            border-radius: 50%;
                            background-color: red;
                            position: absolute;
                            margin-top: -20px;
                            margin-left: 10px;
                            animation: popPoint 1s ease forwards infinite;
                        }
                        .navbar-education .icon-navbar .point{
                            height: 0px;
                            width: 0px;
                        }
                         /* KEYFRAMES ANIMATION */
                        @keyframes popPoint {
                            0%{
                                padding: 0px;
                            }
                            50%{
                                padding: 3px;
                            }100%{
                                padding: 6px;
                            }
                        }
                            
                /**/
                .navbar-education .info-user{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                    .info-user .profile-image{
                        width: 44px;
                        height: 44px;
                        margin-right: 10px;
                    }
                        .info-user .profile-image img{
                            width: 44px;
                            height: 44px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    .info-user .profile-info span{
                        font-size: 12px;
                        text-transform: uppercase;
                        cursor: pointer;
                    }


/* -------------------------------------------------------------------------- */
                /* SIDEBAR */
/* -------------------------------------------------------------------------- */
.sidebar_admin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .sidebar_admin .sidebar-top{
       background-color: var(--text-color); 
       display: flex;
       flex-direction: row;
       padding: 10px;
       border-radius: 20px;
    }

        .sidebar-top .image-user img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            object-fit: cover;
        }
/* .adminPage .sidebar_admin{
        background-color: var(--background-color-1);
        width: 300px !important;
        height: 100vh;
        color: var(--text-color);
        border-radius: 8px;
        margin: 5px;
    } */
    /* .adminPage .sidebar_admin{
        background-color: var(--background-color-1);
        width: 100px !important;
        height: 100vh;
        color: var(--text-color);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .sidebar_admin .side{
            background-color: var(--background-color-1);
            height: 60vh;
            border-radius: 30px;
            margin: 50px;
        }
        .logo-place{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 64px;
            justify-content: space-between;
            background-color: var(--bleu-color);
        }
        .logo-place .icon-bar{
            margin-right: -0px;
        }

            .logo-place .logo{        
                margin-left: 50px;
            }
                .logo-place .logo img{
                    width: 200px;
                }
                .logo-place .logo .logo_min{
                    width: 65px;
                }
                    .logo .logo_min{
                        /* display: none; 
                    } */
            /* .logo-place .icon-bar .reduce_sidebar{
                cursor: pointer;
            }

        .profile-sidebar{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
            background-color: var(--background-color-1);
            border-top: 1px solid #969696;
            border-bottom: 1px solid #969696;
        }
            .profile-sidebar .profile-image img{
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 50%;
            }
            .profile-sidebar .profile-information .info-nom{
                font-size: 9px;
                text-transform: uppercase;
            }
            .profile-sidebar .profile-information .info-fonction{
                font-size: 10px;
            }


        .navigation{
        }
            .navigation .titre{
                padding: 10px;
            }
                .navigation .titre span{
                    font-size: 10px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: var(--gris-color);
                }
            
            .navigation li{
                padding: 10px 10px 10px 20px;
                border-radius: 0 25px 25px 0;
                margin-right: 20px;
                margin-top: 2px;
                cursor: pointer;
                list-style: none;
            }
            .navigation li span{
                letter-spacing: 1px;
                display: none;
             }

             .navigation li .labelSide{
                visibility: visible;
             }
               
            .navigation li:hover{
                background-color: var(--background-color-white2);
            }
            .navigation li:hover{
                color: var(--text-black);
            }
                .navigation li:hover i{
                    background-color: #2b8dc7;
                }
            .navigation li.active{
                background-color: var(--background-color-white2);
            }
            .navigation li.active span{
                font-weight: 600;
                color: var(--text-black);
             }

            .navigation li i{
                background-color: #22242E;
                padding: 7px 9px 7px 9px;
                border-radius: 50%;
            }
                .navigation li.active i{
                    background-color: #2b8dc7;
                }

                .navigation a{
                    color: var(--text-color);
                    font-size: 14px;
                    text-decoration: none;
                }
                .navigation li span{
                   margin-left: 10px;
                } */
        /**
        *  REDUIRE SIDEBAR
        */
        /* .logo_min.activeMiniSidebar{
            display: block;
        }
        .desactiveMaxSidebar{
            display: none;
        }
        .navigation li .labelSideReduice{
            visibility: visible;
        }

        .sidebar_admin.miniSidebar{
            width: 100px !important;
        }
        .logo.logoReduice{        
            margin-left: 0px;
        } */

    /* LOGOUT */
    /* .logout{
        bottom: 0;
    } */
        


/* -------------------------------------------------------------------------- */
                /*  LOADING */
/* -------------------------------------------------------------------------- */
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* ou ajustez la hauteur selon vos besoins */
}

.loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Ajoutez ce style CSS pour le spinner */
.spinner {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid currentColor;
    border-radius: 50%;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* -------------------------------------------------------------------------- */
                /*  GARE */
/* -------------------------------------------------------------------------- */
.header-page{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 65px;
    /* box-shadow:  var(--box-shadow-navbar); */
    background-color: var(--background-color-1);
    border-radius: 8px;
    margin: 5px 5px 5px 0;
}
    .header-page .titre-page span{
        font-size: 20px;
        letter-spacing: 1px;
        margin-left: 20px;
        color: var(--text-color);
        font-weight: 600;
    }
    .header-page .search-gare{
        margin-left: 20px;
    }

    /*  */
.gare-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #e1e1e1;
    border-radius: 8px;
    width: 99.5%;
}
    .gare-list{
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        overflow: hidden;
        overflow-y: scroll;
    }
        .gare-list .card-item{
            width: 300px;
            height: 200px;
            margin: 10px;
            background-color: #0075B7;
            border-radius: 8px 8px 8px 8px;
            cursor: pointer;
        }
            .gare-list .card-item .card-image img{
                width: 300px;
                height: 200px;
                object-fit: cover;
                border-radius: 8px 8px 8px 8px;
            }
        .gare-list .card-item .card-body{
            position: absolute;
            margin-top: -205px;
            width: 300px;
            height: 200px;
            border-radius: 8px 8px 8px 8px;
            background-color: rgba(39, 37, 37, 0.478);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .gare-list .card-item:hover .card-body{
                background-color: rgba(39, 37, 37, 0.21);
            }
            .gare-list .card-item .card-body .card-title h4{
                color: var(--text-color);
                text-transform: uppercase;
                font-weight: 600;
                font-size: 20px;
            }

    .gare-map {
        width: 600px;
    }
        

/* *
* TABLE STYLE
*/  
/* Table.css */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.styled-table thead th {
    background-color: var(--background-color-1);
    color: var(--text-color);
}

.styled-table tbody tr:hover {
    background-color: #0074b71c;
}

.styled-table td a{
    color: black;
    cursor: pointer;
}
.styled-table td i{
    color: black;
    cursor: pointer;
}
.styled-table td button{
    border: 0;
}


/* TRAIN GARE */
.train-gare{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background-color: #e1e1e1;
    border-radius: 8px;
    height: 89vh;
    width: 99.5%;
}
    .train-gare .image-gare{
        width: 400px;
        display: flex;
        flex-direction: column;
        box-shadow: var(--box-shadow-clair);
        padding: 10px;
    }
        .image-gare .text-gare{
            text-align: center;
            padding: 10px;
        }
            .text-gare span{
                font-size: 16px;
                text-transform: uppercase;
            }

        .image-gare img{
            width: 400px;
            height: 600px;
            object-fit: cover;
        }

    .train-gare .list-train{
        width: 600px;
    }

/* MODAL */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .modal-contents {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 90%;
    z-index: 9999;
  }
  .modal-header{
    background-color: var(--background-color-1);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    border-radius: 8px 8px 0 0;
  }
    .modal-header .modal-title{
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
    }
  .modal-body{
    padding: 10px;
  }
    .modal-body form h3{
        text-align: left;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px;
    }
    .modal-body form input{
        margin: 5px;
    }


/* -----------------------------------------
                HISTORIQUE
 ------------------------------------------ */
.gare-map{
    width: 500px;
    height: 80vh;
}
    .gare-map .left-container{
        width: 100%;
        height: 80vh;
    }
    .leaflet-container{
        width: 100%; 
        height: 80vh;
    }

    .leaflet-container .leaflet-routing-container{
        display: none;
    }