body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*======= CSS variables =======*/
:root {
  --text-color: #fff;
  --text-color-2: #969696;
  --text-color-orange: #C6610F;
  --text-color-bleu: #0075B7;
  --bleu-login : #007DFE;
  --text-black : #2B2B2B;

  /*----------- BACKGROUND -----------*/
  --background-color-blue: #0B1039;
  --background-color-orange: #C6610F;
  --background-color-red: #CC3435;
  --background-color-green: #13853c;
  --background-color-white1: #FFFFFF;
  --background-color-white2: #F9F9F9;
  --background-color-1: #0075B7;
  --background-color-2: #FFFFFFFF;

  --box-shadow-clair: 0px 0px 5px 0px rgba(39, 37, 37, 0.6);
  --box-shadow-navbar: 0px 0px 4px 0px rgba(39, 37, 37, 0.6);

}

